.wrapper
  .container
    .row
      .col-md-4
        img(src='../assets/img/eva.jpg', alt='')
      .col-md-8('*ngIf'="professor") 
        h3.title {{ professor.name }}
        .content('*ngIf'="ratings")
          .row
            .col-md-4
              .social-description
                h2('[class]'="getRatingColor(averageRating())")
                  | {{ averageRating() | number }}
                p Overall Ratings
            .col-md-4
              .social-description
                h2 {{ ratings.length }}
                p # of Rating
            .col-md-4
              .social-description
                h2 {{ classes.length }}
                p Classes
    .row
      .col-md-6
        h4.title Classes
        .list-group
          .list-group-item( *ngFor="let obj of classes" )
            h5
              a( routerLink="/classes/{{obj.id}}" ) {{ obj.name }}
            p 
              | Rating 
              span( '[class]'="getRatingColor(getRating(obj))" ) {{ getRating(obj) | number }}
      .col-md-6
        h4.title Reviews
        .card.mb-2( *ngFor="let obj of ratings" )
          .card-body
            p 
              | Rating: 
              span( '[class]'="getRatingColor(obj.score)" ) {{ obj.score }}
            blockquote 
              footer.blockquote-footer {{ obj.comment }}