h1('*ngIf'="course") {{ course.name }}

h3 Professors

.card.mb-2( *ngFor="let obj of professors" ) 
  .card-body
    h5 
      a( routerLink="/professor/{{obj.id}}" ) {{ obj.name }}

    p 
      | Rating: 
      span( '[class]'="getRatingColor(getRating(obj))" ) {{ getRating(obj)  | number }}
    p.text-muted('*ngIf'="hasRated(obj)") You have rated this prof!

    .form-group('*ngIf'="!hasRated(obj)")
      a.btn.btn-xs( title='1 (Lowest)' '(click)'="toggleRating(1, obj)" '[class]'="activeStar(1, obj)" )
        span.fas.fa-star
      a.btn.btn-xs( title='2' '(click)'="toggleRating(2, obj)" '[class]'="activeStar(2, obj)" )
        span.fas.fa-star
      a.btn.btn-xs( title='3' '(click)'="toggleRating(3, obj)" '[class]'="activeStar(3, obj)" )
        span.fas.fa-star
      a.btn.btn-xs( title='4' '(click)'="toggleRating(4, obj)" '[class]'="activeStar(4, obj)" )
        span.fas.fa-star
      a.btn.btn-xs( title='5 (Highest)' '(click)'="toggleRating(5, obj)" '[class]'="activeStar(5, obj)" )
        span.fas.fa-star

    .form('*ngIf'="!hasRated(obj) && obj.score")
      .form-group
        textarea.form-control( placeholder='Add comment (optional)' '(keyup)'="updateComment($event, obj)")
      button.btn.btn-primary(  '(click)'="saveRating(obj)" ) Save