.container
  .text-center.brand
    h1.h1-seo Payback Time!
    h3 An app to rate your professor or should we say, grade them!

    p.lead
      | Rate a professor per class from a scale of 1 to 5 (5 is highest, 1 is lowest).

    a.btn.btn-lg.btn-danger.ml-2
      span.fas.fa-star
    a.btn.btn-lg.btn-secondary.ml-2
      span.fas.fa-star
    a.btn.btn-lg.btn-warning.ml-2
      span.fas.fa-star
    a.btn.btn-lg.btn-info.ml-2
      span.fas.fa-star
    a.btn.btn-lg.btn-success.ml-2
      span.fas.fa-star

    p
      a.btn.btn-primary.btn-lg('[routerLink]'="['/classes']") Let's go!